html{
    background-size: cover;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
*, *::before, *::after { 
    box-sizing: border-box; 
}
body{
    min-width:600px;
    display: block; 
    margin: 0; 
    text-rendering: optimizeSpeed;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 1em;
    color: #ffffff;
    background: linear-gradient(#02ff81, #92c990);
}

.logo{
    transition: transform .7s ease-in-out;
}
.logo:hover {
    transform: rotate(360deg);
  }
.title{

}
.menu{
    display: flex;
}
.menu-button{
    display:none;
    margin: auto;
}
.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: .5em;
    height: 2em;
    background: #b3ffd9;
    margin: 0.5em;
    border: 1px solid #99ffcc;
    border-radius: 25%;
}
@media (max-width:610px){
    .menu-item{
        display: none;
    }
    .menu-button{
        display: block;
    }
}



.menu-item a{
    text-decoration: none;
    color: #876767;
}
.menu-item-title{
    color: #876767;
}
.list-of-rooms{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    top: 45px;
    width: 120px;
    background: #b3ffd9;
    color: #876767;
    border-radius: 10px;
}
.rooms-button{ width:70px}
.rooms-button:hover .list-of-rooms{
    visibility: visible;
    opacity: 1;
}
.room{
    padding: .5em;
    width:100px;
}
.main-content{
    margin:0;
    background-color: #e6e6e6;
    min-height: calc(100vh - 223px);
}
.footer{
    margin:0;
    bottom: 0;
    background-color: #000000;
    color: #ffffff
}
.text{
    padding:0;
    margin:0;
}
.footer-form{
    width: 200px;
    display: flex;
    flex-direction: column;

}

.form-item__input{
    display: flex;
}

.footer-form .input{
    border-radius: 10px;
}

.form{
    margin: 10px;
}

.validation-dot{
    margin: 0 2px;
    height: 20px;
    width:20px;
    border-radius: 50%;
}

.red{
    background:red;
}

.green{
    background: green;
}

.hidden{
    display:none;
}
.upsidedown{
    transform: rotate(180deg);
}

.label{

}
.input{
    margin: .5em;
}
.button{
    margin-left: .5em;
    width: 150px;
    border-radius: 10px;
}
.table-edit-rooms{
    min-width: 605px;
    padding: 10px 5px;
    border-spacing: 3px;
}
.table-edit-rooms input{
    max-width:85px;
}

.slider-holder
{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /* text-align: center; */
    overflow: hidden;
}
@media (max-width:610px){
    .slider-holder
    {
        margin: 5px;
    }
}

.image-holder
{
    width: 750px;
    height: 150px;
    clear: both;
    position: relative;
   
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    /* left: -70px; */
    left:0;
}

#slider-image-2:target ~ .image-holder
{
    left: -155px;
}

#slider-image-3:target ~ .image-holder
{
    left: -310px;
}

#slider-image-4:target ~ .image-holder
{
    left: -465px;
}

#slider-image-5:target ~ .image-holder
{
    left: -690px;
}


.button-holder
{
    position: relative;
    top: -25px;
    left: 25px;
}

.slider-change
{
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #02ff81;
    padding:2px;
}



.table-rooms,.table-rooms td, .table-rooms tr, .table-rooms th{
    border: 1px solid #000;
}

.hover-content{
    margin:5px;
    width: 50px;
}



.hidden-span-1,.hidden-span-2,.hidden-span-3,.hidden-span-4,.hidden-span-5,.hidden-span-6{
    display: none;
    position:absolute;
    background:#02ff81;
}

.room1:hover+.hidden-span-1,.room2:hover+.hidden-span-2,.room3:hover+.hidden-span-3,.room4:hover+.hidden-span-4,.room5:hover+.hidden-span-5,.room6:hover+.hidden-span-6{
    display: block;
    
}



@media (prefers-reduced-motion: reduce) {
	html:focus-within { scroll-behavior: auto; }
	*, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; }
}

@media print {

	* { background-image: none; background: white; color: black; }

	@page { margin: 2cm; }
	@page :first { margin-top: 3cm; }
	@page :left { margin-right: 3cm; }
	@page :right { margin-left: 3cm; }

	html { background: white; font-size: 12pt; line-height: 1.5em; }

	a:link, a:visited { 
        color: #00f; 
        background: transparent; 
        font-weight: bold; 
    }
	a:not([href^="http"]):after { 
        content: " (" attr(href) ")"; 
        font-size: 0.9em; 
    }
	a:after > img { 
        content: ""; 
    }

	body::after { 
        content: "Copyright © Matei Leonard, toate drepturile rezervate."; 
        display: block; 
        text-align: center; 
    }


	h1, h2, h3, h4, h5, h6 { 
        page-break-after: avoid; 
        page-break-inside: avoid 
    }
	h1 + h2 { 
        page-break-before: avoid; 
    }

	table, pre, img, svg, blockquote, a { 
        break-inside: avoid; 
    }

	ul, ol, dl { 
        page-break-before: avoid; 
    }
}

.photos-slider{
    position: relative;
    width:650px;
    height: 700px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    background: grey;
}
.slide{
    padding: 0 25px;
    transition: all .5s ease;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity:1;
}

.previous-photo{
    -webkit-transform: rotateX(40deg);
    transform: rotateX(40deg);
    opacity: .5;
}
.slider-buttons{
    display:none;
    background-color: white;
    position:absolute;
    top:30px;
    left:480px;
    cursor: pointer;
}

.slide:hover~.slider-buttons,.slider-buttons:hover{
    display: flex;
}
.incorrect-input{
    border-top: 2px solid red;
}

#special-list{
    height: 200px;
}
.main-label{
    margin:20px;
    background-color: #ffffff;
}
.main-label > *{
    border: 1px solid #000;
}
.search-container{
    display: flex;
    flex-direction: column;
}
.search{
    width: 200px;
}